@(us:User)

@main("","Recommender system",us) {

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <form id="form_search1" class="center-block text-center" action="/search" method="POST">
        <h2>Tu ubicación</h2>
    <label>Localización: </label><input type="text" id="latitude" name="latitude" placeholder="Latitud"/>-
    <input type="text" id="longitude" name="longitude" placeholder="Longitud"/>
        <button id="setGeo">Aquí</button>
        <button id="setGeo2">Donde siempre</button>
    <br/>


    <br/>
    <label>Hora: </label><input type="text" id="hour" name="hour" placeholder="hh:mmam/pm"/> <button id="setTimeButton">Ahora</button>
    <br/>

    <button id="search" type="submit">Buscar</button>
    </form>

    <div id="map_canvas"></div>


    <script>

    $('#hour').timepicker({ 'scrollDefault': 'now' });
    $('#setTimeButton').on('click', function (){
    $('#hour').timepicker('setTime', new Date());
        return false;
    });

    $('#setGeo').on('click', function (){
    if ( navigator.geolocation ) {
    navigator.geolocation.getCurrentPosition ( function ( pos ) {
    var newpos=new google.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
    placeMarker ( newpos, map ) ;
    } ) ;
    } else {
    alert ( "Geolocation is not supported by this browser." ) ;
    }
        return false;
    });

    $('#setGeo2').on('click', function (){
        @if(us==null){alert ( "Identifícate por favor." ) ;}else{

        var la=@us.getMedianLatitude();
         var lo=@us.getMedianLongitude();
        var newpos=new google.maps.LatLng(la,lo);
        placeMarker ( newpos, map ) ;
        }
        return false;

    });


    var map, layer;
        var lastMarker;
    function initialize() {
    var mapOptions = {
    zoom: 12,
    center: new google.maps.LatLng(33.4483771,-112.07403729)
    };
    map = new google.maps.Map(document.getElementById('map_canvas'),mapOptions);
    google.maps.event.addListener(map, 'click',geodeleg);
    
   layer = new google.maps.FusionTablesLayer({
    query: {
      select: '\'Location\'',
      from: '1WtuOzZqOYiiMQ24qapSyzz3AHaYl6hfoh3J7oLKn'
    }
  });
  layer.setMap(map);
    }

    function geodeleg(e){
    placeMarker(e.latLng, map);

    }

    function placeMarker(position, map) {
    if(lastMarker)
        lastMarker.setMap(null);

    var marker = new google.maps.Marker({
    position: position,
    map: map
    });
        map.setCenter(new google.maps.LatLng(position.lat(),position.lng()));

    google.maps.event.addListener(marker, 'rightclick',function(e) {
    marker.setMap(null);
    });
    var textLatitude = document.getElementById("latitude");
    var textLongitude = document.getElementById("longitude");
    textLatitude.value = position.lat();
    textLongitude.value = position.lng();
    map.panTo(position);
        lastMarker=marker;
    }

     google.maps.event.addDomListener(window, 'load', initialize);


    </script>
}
