@()

@main("","Hybrid Recommender",null) {


    <h1>Tus recomendaciones</h1>
    <select id="categories_list"><option>Add a category</option>
    <option value="health">Health</option>
        <option value="food">Food</option>
    </select>
    <div id="categories"></div>
    <br/>

    <div id="attributes">
        <ul>
            <li>
                <input type="checkbox" id="attr_24hours"><label for="attr_24hours">24 hours</label>
            </li>
            <li>
                <input type="checkbox" id="attr_domicile"><label for="attr_domicile">Domicile</label>
            </li>
            <li>
                <input type="checkbox" id="attr_economic"><label for="attr_economic">Economic</label>
            </li>
        </ul>
    </div>
    <div id="results">
        <div class="row">
            <div class="col-md-1">Business</div>
            <div class="col-md-1">Estimation</div>
        </div>
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-1">Hard rock</div>
                    <div class="col-md-1">5.0</div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-1">West Coffee</div>
                    <div class="col-md-1">5.0</div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-1">America's Hotel</div>
                    <div class="col-md-1">4.5</div>
                </div>
            </li>
        </ul>
    </div>
    <br/>

}
